.nabvar{
    background-color: #1877F2;
    height: 50px;
    padding: 40px;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);                 
}

.container-navbar{
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    /* top: 10%; */
    left: 80%;

}


.home{
    padding: 10px;
    font-size: x-large;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    /* margin-right: 150%; */
    text-align: center;
    line-height: -2.5;
    color: white;
    border-radius: 10px;   
}.home:hover{
    transform: translateY(-3px) scale(1.10);
    /* box-shadow:  5px 5px rgba(0, 0, 0, .4); */
    filter: none;
}


.portafolio-navbar{
    padding: 10px;
    font-size: x-large;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    /* margin-right: 150%; */
    text-align: center;
    line-height: -2.5;
    color: white;
    border-radius: 10px;
}.portafolio-navbar:hover{
    transform: translateY(-3px) scale(1.10);
    /* box-shadow:  5px 5px rgba(0, 0, 0, .4); */
    filter: none;
}

.galeria{
    padding: 10px;
    font-size: x-large;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    /* margin-right: 1.5%; */
    text-align: center;
    line-height: -2.5;
    color: white;
    border-radius: 10px;
}.galeria:hover{
    transform: translateY(-3px) scale(1.10);
    /* box-shadow:  5px 5px rgba(0, 0, 0, .4); */
    filter: none;
}

.logo{
    height: 70px;
    border-radius: 1500%;
    width: 80px;
}.logo:hover{
    transform: translateY(-5px) scale(1.10);
    /* box-shadow:  5px 5px rgba(0, 0, 0, .4); */
    filter: none;
}